
/*-------------------------------------------
	Featured Products
-------------------------------------------*/


#featured-products {

	border-bottom: 1px solid rgb(227, 227, 227);
	background: $white;

	.wrap {

		max-width: none;
		padding: 0;

	}

		.flexslider {

			position: relative;
			margin: 0;
			padding: 0;

		}

			.flex-viewport {

				// max-width: 980px;
				// margin: 0 auto;
				padding: 0;

			}

				.slides {

					margin: 0;
					padding: 0;
					list-style: none;
					@include group;

					&:after {

						content: "\0020";
						display: block;
						clear: both;
						visibility: hidden;
						line-height: 0;
						height: 0;

					}

					html[xmlns] & {

						display: block;

					}

					* html & {

						height: 1%;

					}

					> li {

						display: none;
						-webkit-backface-visibility: hidden;

					}

					.no-js & {

						li {

							&:first-child {

								display: block;

							}

						}

					}

				}

					li {

						position: relative;

					}

						img {

							width: 100%;

						}

						.overlay {

							position: absolute;
							left: 0;
							bottom: 30px;
							width: 100%;
							z-index: 5;

							.inner-wrap {

								@include wrap;

							}

						}

							.title {

								margin-bottom: (12/30) + em;
								@include font-size(30);
								line-height: (36/30) + em;
								@include russo-normal;

								a {

									color: rgb(20, 47, 114);

									&:hover {}

								}

							}

							.headline {

								margin-bottom: (16/20) + em;
								@include font-size(20);
								line-height: (24/20) + em;
								font-weight: bold;
								color: rgb(1, 116, 182);

							}

				/* Paging */

				.flex-control-paging {

					position: absolute;
					left: 0;
					bottom: 15px;
					width: 100%;
					margin: 0;
					padding: 0;
					list-style: none;
					text-align: center;

					li {

						display: inline-block;
						margin: 0 7px;
						border: 1px solid rgb(212, 212, 212);
						@include border-radius(50%);
						@include hide-text;

					}

						a {

							display: block;
							width: 16px;
							height: 16px;
							background: $white;
							border: 2px solid $white;
							@include border-radius(50%);

							&:hover {

								background: rgb(212, 212, 212);

							}

							&.flex-active {

								background: rgb(54, 96, 197);

							}

						}

				}

				/* Previous / Next */

				.flex-direction-nav {

					display: none;
					margin: 0;
					padding: 0;
					list-style: none;

					@media screen and (min-width: 1100px) {

						display: block;

					}

					li {

						position: absolute;
						top: 50%;
						margin-top: -25px;
						@include hide-text;

						&:first-of-type {

							left: 0;

							a {

								@include border-radius(0 3px 3px 0);

							}

						}

						&:last-of-type {

							right: 0;

							a {

								@include border-radius(3px 0 0 3px);

							}

						}

					}

						a {

							display: block;
							width: 36px;
							height: 50px;
							background: rgb(85, 85, 85) url(../img/slideshow-nav.svg);
							@include transition(background-color 0.35s ease-in-out);

							&:hover {

								background-color: rgb(64, 103, 197);

							}

							&.flex-prev {}

							&.flex-next {

								background-position: -36px 0;

							}

						}

				}

}